@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@mixin formElements {
        border: none;
        font-size: 2rem;
        padding: 0.8rem;
        appearance: none;
}

@mixin align{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin psuedo {
    content: '';
        position: absolute;
        background-color: rgb(27, 101, 161);
        height: 100%;
        width: 100%;
        z-index: -1;  
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}

body{
    background:
    {image:linear-gradient(183deg, rgba(14,49,150,0.5) 0%, rgba(24,40,163,0.5) 14%, rgba(109,164,181,0.5) 67%, rgba(90,193,195,0.5) 87%, rgba(87,183,194,0.5) 93%),url(./Checklist-pana.svg) ;
    repeat: no-repeat;
    position:cover;
    };
    min-height: 100vh;
    color: white; 
    overflow: hidden;
}

header{
    font-size: 5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    & ::after{
      @include psuedo(); 
    }
    &::before{
        @include psuedo();
    }

    & h1{
        text-align: center;
        padding: 1.5rem 1rem;
    }
}

form{
    @include align();
    min-height: 30vh;
    & input{
        background-color: white;
        @include formElements();
        &:focus{
            outline: none;
            }
        }
    & button{
        background-color: rgb(31, 17, 85);
        @include formElements();
        color: #fff;
        cursor: pointer;
        transition: all 0.2s ease;
        & i{
            font-size: 1.5rem;
            padding: 0;
            margin: 0;
            height: 100%;
        }

        &:hover{
            color:rgb(31, 17, 85);
            background-color: #fff;
            }
        }
    & select{
        appearance: none;
        outline: none;
        border:none;
        cursor: pointer;
        font-size: 1.5rem;
        margin: auto 2rem;
        padding: 1rem;
        width:12rem;
        & option{
            font-size: 1.5rem;
            
        }
       }

}
.select{
    position: relative;
    @include align();
    
    
}
.select::after{
    content: "\25BC";
    position: absolute;
    color:white;
    top:0;
    right:5%;
    font-size: 1.5rem;
    padding: 1rem;
    pointer-events: none;
    background-color: rgb(31, 17, 85);
}

.todo-container{
    @include align();
}

.todo-list{
    @include align();
    flex-direction: column;
    list-style: none;
}

.todo {
    background-color: white;
    @include align();
    justify-content: space-between;
    margin: 0.8rem;
    min-width: 20vh;
    & li {
        margin: auto 2rem;
        flex:1;
        font-size: 2rem; 
        color: black;
        padding: auto 2rem;
    }

    & button {
        cursor: pointer;
        border:none;
        min-height: 100%;
        color: white;
        padding:1rem;
        font-size: 2rem;
    }
}

.trash-btn {
    background-color: rgba(11, 45, 97, 0.897);

    &:hover{
        background-color: rgba(15, 64, 138, 0.897) ;
    }
}

.comp-btn {
    background-color: rgb(127, 168, 255);
    &:hover{
        background-color: rgb(42, 126, 253) ;
    }
}

i {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
    color:black;
    font-style: oblique ;
}