body{
    font-family: 'Lato', sans-serif;
}

.btn{
    display: inline-block;
    margin-bottom: 1rem;
    & span{
        background-color:#cbd5e0;
        border: none;
        border-radius: 1.2rem;
        padding: 0.5rem 0.8rem;
        box-shadow:  0 2px 4px -1px rgba(0, 0, 0, 0.06);
        &:hover{
            background-color:#a0aec0;
            
        }
    }
    & input[type=checkbox] {
        appearance: none;
        
        &:checked ~ span{
            background-color: #4a5568;
            color:white;
            box-shadow: none;
        }
    }
}