body {
  font-family: 'Lato', sans-serif;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
}

.btn span {
  background-color: #cbd5e0;
  border: none;
  border-radius: 1.2rem;
  padding: 0.5rem 0.8rem;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn span:hover {
  background-color: #a0aec0;
}

.btn input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.btn input[type=checkbox]:checked ~ span {
  background-color: #4a5568;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */